/* Container */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}
/* Column */
.column {
    flex-basis: 33.3333333333%;
    width: 33.3333333333%;
    padding: 0 10px;
    box-sizing: border-box;
}
@media (max-width: 900px) {
    .column {
        flex-basis: 50%;
        width: 50%;
   }
}
@media (max-width: 600px) {
    .column {
        flex-basis: 100%;
        width: 100%;
   }
}
/* Article (Component) */
.article {
    background: #fff;
    margin: 0 0 20px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
}
.article:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.article:active {
    box-shadow: none;
    transform-origin: center;
    transform: scale(0.98);
}
.article__category {
    display: inline-block;
    padding: 8px 10px;
    margin: 0 0 10px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}
.article__excerpt {
    color: #666;
    line-height: 1.5rem;
    font-size: 0.875rem;
}
.article__title {
    margin: 0 0 10px;
    color: #444;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}
